body { padding: 0 0 0 0; max-width: 940px; text-align: center; margin: auto; }
.page-container { width: 100%; border-style: none; border-collapse: collapse; empty-cells: show; table-layout: fixed;  margin-bottom: 120px;}
.hebrew  { direction: rtl; text-align: justify; vertical-align: top; padding-left:  10px;}
.english { direction: ltr; text-align: justify; vertical-align: top; padding-right: 10px; padding-top: 6px; }
.inclusion { background-color: #D9D9D9; }
.spacer { height: 24px; empty-cells: show;}
.instructions { text-align: center; }
.commentary { text-align: justify; }
.commentary td { padding-bottom: 10px; }
.commentary .spacer { height: 5px;} 
.section-title td { text-align: center; font-variant: all-small-caps; background-color: #DDDDDD; border: 1px solid black; } 
.hebrew.unjustified { text-align: right; }
.english.unjustified { text-align: left; }

/** ORPHAN CONTROL **/
.page-container { break-after: page; }
td { widows: 3; orphans: 3; }
.section-title { break-after: avoid; }
.section-title+tbody { break-before: avoid; }
.leading.instructions { break-after: avoid; }
.concluding.instructions { break-before: avoid; }
.concluding.instructions::before { content: "\00a0"; }
.instructions p.padded { padding-top: 10px; }
tbody.break { break-before: page; }
tbody:has(+ .break) { break-after: page; }

/** SIZES **/
body                { font-size: 10pt; }
.hebrew             { font-size: 25pt; }
.english            { font-size: 16pt; }
.instructions       { font-size: 16pt; }
.commentary         { font-size: 12pt;}
.section-title td   { font-size: 18pt; }
.hebrew strong      { font-size: 27pt; } 
td.english sup      { font-size: 10pt; }
th.hebrew           { font-size: 27pt; }
th.english          { font-size: 19pt; }
td.english span.inclusion { font-size: 14pt; }
td.hebrew  span.inclusion { font-size: 18pt; }

/** FONTS **/ 
body              { font-weight: 400; font-style: normal; font-family: "Poppins", monospace; }
.commentary       { font-weight: 400; font-style: normal; font-family: "Poppins", monospace; } 
.hebrew           { font-weight: 400; font-style: normal; font-family: "Bona Nova SC", monospace; }
.english          { font-weight: 400; font-style: normal; font-family: "Lato", monospace; }
.instructions     { font-weight: 400; font-style: italic; font-family: "EB Garamond", monospace; }
.commentary       { font-weight: 400; font-style: normal; font-family: "Poppins", monospace; }	
.section-title td { font-weight: 500; font-style: normal; font-family: "Poppins", monospace; } 
.hebrew strong    { font-weight: 400; font-style: normal; font-family: "Frank Ruhl Libre", monospace; }

/** ADDITIONAL **/
.hebrew strong { font-weight: bolder; }
th.hebrew  { text-align: left; }
td.hebrew  { padding-right: 8px; }
th.english { text-align: right; font-weight: bold; }
td.english { padding-left: 8px; padding-top: 10px;}

/** trick for padding between rows in a table: */
tr.leading  { border-top:    8px solid transparent; }
tr.trailing { border-bottom: 8px solid transparent; }

tr.leading  td.hebrew  { text-align: right; }
tr.trailing td.hebrew  { text-align: left;  }
tr.leading  td.english { text-align: left;  }
tr.trailing td.english { text-align: right; } 

@media print {
  @page {
    size: 74mm 105mm portrait; /* A7 */
    /* in print, 0.4in on an A5 came out as exactly 1cm, so 0.6 should come out as 1.5cm */
    margin-left:   0.6in;
    margin-right:  0.6in;
    margin-bottom: 0.4in;
    margin-top:    0.3in; /* A5 print came out with the top margin a bit too big, so shrinking */
    @bottom-center {
      font-family: "EB Garamond", monospace;
      font-weight: 400;
      font-size: 12pt;
      content: counter(page);
    }
  }
}