body { padding: 0 0 0 0; max-width: 940px; text-align: center; margin: auto;}
.page-container { width: 100%; border-style: none; 
                  border-collapse: collapse; empty-cells: show; table-layout: fixed; 
                  page-break-after: always; margin-bottom: 120px;}
.hebrew  { direction: rtl; text-align: justify; vertical-align: top; padding-left:  10px;}
.english { direction: ltr; text-align: justify; vertical-align: top; padding-right: 10px; padding-top: 6px; }
.inclusion { background-color: #D9D9D9; }
.spacer { height: 24px; empty-cells: show;}
.instructions { text-align: center; }
.commentary { text-align: justify; }
.commentary td { padding-bottom: 10px; }
.commentary .spacer { height: 5px;} 
.section-title td { text-align: center; font-variant: all-small-caps; border: 1px solid black; background-color: #DDDDDD;} 
.break { page-break-before: always; }                

/** ORPHAN CONTROL **/
td { widows: 4; orphans: 4; }
td.instructions { orphans: 0; }
.section-title { orphans: 0; page-break-after: avoid; }
.section-title+tbody { page-break-before: avoid; }
.leading.instructions { page-break-after: avoid; }
.concluding.instructions { page-break-before: avoid; }
.concluding.instructions::before { content: "\00a0"; }
.instructions p.padded { padding-top: 10px; }

/** SIZES **/
body                { font-size: 10pt; }
.hebrew             { font-size: 22pt; }
.english            { font-size: 13pt; }
.instructions       { font-size: 13pt; }
.commentary         { font-size: 8.5pt;}
.section-title td   { font-size: 16pt; }
.hebrew strong      { font-size: 24pt; } 
.commentary:has(tr>td>hr) { font-size: 7pt;  } /* footnotes */

/** FONTS **/ 
body              { font-weight: 400; font-style: normal; font-family: "Poppins", monospace; }
.commentary       { font-weight: 400; font-style: normal; font-family: "Poppins", monospace; } 
.hebrew           { font-weight: 400; font-style: normal; font-family: "Bona Nova SC", monospace; }
.english          { font-weight: 400; font-style: normal; font-family: "Lato", monospace; }
.instructions     { font-weight: 400; font-style: italic; font-family: "EB Garamond", monospace; }
.commentary       { font-weight: 400; font-style: normal; font-family: "Poppins", monospace; }	
.section-title td { font-weight: 500; font-style: normal; font-family: "Poppins", monospace; } 
.hebrew strong    { font-weight: 400; font-style: normal; font-family: "Frank Ruhl Libre", monospace; }


/** ADDITIONAL **/
.hebrew strong { font-weight: bolder; }

th.hebrew  { text-align: left;  font-size: 24pt; }
td.hebrew  { padding-right: 8px; }
td.hebrew  span.inclusion { font-size: 12pt; }
th.english { text-align: right; font-size: 16pt; font-weight: bold; }
td.english { padding-left: 8px; padding-top: 10px;}
td.english span.inclusion { font-size: 10pt; }
td.english sup { font-size: 6pt; }

td .textcolumn { width: 100%; height: 36px; white-space: nowrap; margin-top: 0px; margin-bottom: 0px;} 

td.hebrew  .textcolumn.leading  { text-align: right; white-space: normal; }
td.hebrew  .textcolumn.trailing { text-align: left;  white-space: normal; }
td.english .textcolumn.leading  { text-align: left;  white-space: normal; }
td.english .textcolumn.trailing { text-align: right; white-space: normal; }

/* Consider a margin-bottom on <tr>. */

@media print {
  @page {
    size: A4 portrait;
    @bottom-center {
      font-family: "EB Garamond", monospace;
      font-weight: 400;
      font-size: 12pt;
      content: counter(page);
    }
  }
}